################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bco.atlantidad.estadocuenta.api/bin/Debug/net6.0
/bco.atlantidad.estadocuenta.api/obj
